//清除默认样式
@import '@/style/restcss.scss';

html,body,#app{
    height: 100%;
}

html{
    box-sizing: border-box;
}


//测试边框
.border1{
    border: 1px solid red;
}
.border2{
    border: 1px solid rgb(56, 211, 90);
}
//快捷子元素居中
.flex-center-x-y{
  display: flex;
  justify-content: center;
  align-items: center;  
}



//el-message提示字体
.el-message{
    font-size: 2.6rem !important;
    top: 8% !important;
}
.el-message__content{
    font-size: 1.3rem !important;
}
